// COLORS
$color-primary: #7ed56f; // Pastel Green
$color-primary-light: #55c57a; // Emerald Green
$color-primary-dark: #28b485; // Jungle Greens

$color-grey-light-1: #f7f7f7; // Alabaster Grey 
$color-grey-dark: #777; // Boulder Grey
$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;