$color-primary: #40a040; // Apple Green
/* 
COLORS

APPLE = #40a040
FOREST GREEN = #208020
MANTIS = #60c060
CAMARONE = #006000
SULU = #90f090

*Yellow
Shalimar = #ffffc0
*/

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;