.post {
  background-color: green;
  min-height: 100vh;
  padding: 3rem;

  &__title {
    font-size: 3rem;
    line-height: 1;
  }

  &__title-two {
    margin-bottom: 3rem;

    color: rgb(75 85 99);
    font-size: 1.125rem; /* 18px */
    line-height: 1.75rem; /* 28px */
  }

  &__grid {
  }

  &__grid-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
