.tip {
  height: 7rem;
  width: 50vw;
  border: 1px solid var(--clr-white-0);
  border-radius: 0.5rem;

  text-align: center;

  &__home,
  &__away {
    display: flex;

    & > * {
      min-width: 6rem;
      margin-inline: 1rem;

      display: grid;
      place-content: center;
    }
  }

  &__details {
    font-size: 1rem;
  }
}
