.hero {
  width: 40rem;

  border: 0.5px solid var(--clr-white-300);
  border-radius: 1rem;

  // * Vertical Line
  flex-direction: column;

  &:before {
    content: "";
    border: 1px dotted var(--clr-white-300);
    align-self: stretch;
  }

  &__item {
    padding: 2rem;
    overflow: hidden;

    flex: 1;

    &--start {
      order: -1;
    }
  }
}
