$fonts: (
  fs: (
    300: 1.3rem,
    400: 1.4rem,
    500: 1.5rem,
    600: 1.6rem,
    700: 2rem,
    750: 2.5rem,
    800: 3rem,
    850: 3.5rem,
    900: 4rem,
  ),
  fw: (
    "regular": 400,
    "semi-bold": 500,
    "bold": 700,
  ),
);
