:root {
  --clr-primary-100: hsl(14, 100%, 80%);
  --clr-primary-200: hsl(14, 100%, 70%);
  --clr-primary-300: hsl(14, 100%, 60%);
  --clr-primary-400: hsl(14, 100%, 43%);
  --clr-primary-500: hsl(14, 100%, 20%);
  --clr-secondary-100: hsl(219, 89%, 80%);
  --clr-secondary-200: hsl(219, 89%, 70%);
  --clr-secondary-300: hsl(219, 89%, 60%);
  --clr-secondary-400: hsl(219, 61%, 37%);
  --clr-secondary-500: hsl(219, 89%, 20%);
  --clr-white-100: hsl(0, 0%, 100%);
  --clr-white-200: hsl(0, 0%, 87%);
  --clr-white-300: hsl(0, 0%, 80%);
  --clr-neutral-400: hsl(0, 0%, 50%);
  --clr-neutral-500: hsl(0, 0%, 40%);
  --clr-neutral-600: hsl(0, 0%, 30%);
  --clr-neutral-700: hsl(0, 0%, 20%);
  --clr-black-800: hsl(0, 0%, 15%);
  --clr-black-900: hsl(0, 0%, 10%);
  --clr-black-1000: hsl(0, 0%, 0%);
  --bg-primary-100: hsl(14, 100%, 80%);
  --bg-primary-200: hsl(14, 100%, 70%);
  --bg-primary-300: hsl(14, 100%, 60%);
  --bg-primary-400: hsl(14, 100%, 43%);
  --bg-primary-500: hsl(14, 100%, 20%);
  --bg-secondary-100: hsl(219, 89%, 80%);
  --bg-secondary-200: hsl(219, 89%, 70%);
  --bg-secondary-300: hsl(219, 89%, 60%);
  --bg-secondary-400: hsl(219, 61%, 37%);
  --bg-secondary-500: hsl(219, 89%, 20%);
  --bg-white-100: hsl(0, 0%, 100%);
  --bg-white-200: hsl(0, 0%, 87%);
  --bg-white-300: hsl(0, 0%, 80%);
  --bg-neutral-400: hsl(0, 0%, 50%);
  --bg-neutral-500: hsl(0, 0%, 40%);
  --bg-neutral-600: hsl(0, 0%, 30%);
  --bg-neutral-700: hsl(0, 0%, 20%);
  --bg-black-800: hsl(0, 0%, 15%);
  --bg-black-900: hsl(0, 0%, 10%);
  --bg-black-1000: hsl(0, 0%, 0%);
  --mt-1: 1;
  --mt-2: 2;
  --mt-3: 3;
  --mt-4: 4;
  --mt-5: 5;
  --mb-1: 1;
  --mb-2: 2;
  --mb-3: 3;
  --mb-4: 4;
  --mb-5: 5;
  --ml-1: 1;
  --ml-2: 2;
  --ml-3: 3;
  --ml-4: 4;
  --ml-5: 5;
  --mr-1: 1;
  --mr-2: 2;
  --mr-3: 3;
  --mr-4: 4;
  --mr-5: 5;
  --pt-1: 1;
  --pt-2: 2;
  --pt-3: 3;
  --pt-4: 4;
  --pt-5: 5;
  --pb-1: 1;
  --pb-2: 2;
  --pb-3: 3;
  --pb-4: 4;
  --pb-5: 5;
  --pl-1: 1;
  --pl-2: 2;
  --pl-3: 3;
  --pl-4: 4;
  --pl-5: 5;
  --pr-1: 1;
  --pr-2: 2;
  --pr-3: 3;
  --pr-4: 4;
  --pr-5: 5;
}

/*
0 - 600px:    Phone
600 - 900px:  Tablet Portrait
900 - 1200px:  Tablet Landscape
(1200 - 1800) is where our normal styles apply
1800px+:       Big Desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + Typography > general layout + grid > page layout > components

1em = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background-color: darkgrey;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #000;
  padding: 3rem;
}

.paragraph {
  font-size: 1.6rem;
}
.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}
.row:not(:last-child) {
  margin-bottom: 8rem;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.row [class^=col-] {
  float: left;
}
.row [class^=col-]:not(:last-child) {
  margin-right: 6rem;
}
.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}
.row .col-1-of-3 {
  width: calc((100% - 6rem * 2) / 3);
}
.row .col-2-of-3 {
  width: calc(2 * ((100% - 6rem * 2) / 3) + 6rem);
}
.row .col-1-of-4 {
  width: calc((100% - 6rem * 3) / 4);
}
.row .col-2-of-4 {
  width: calc(2 * ((100% - 6rem * 3) / 4) + 6rem);
}
.row .col-3-of-4 {
  width: calc(3 * (100% - 6rem * 3) / 4 + (2 * 6rem));
}

/*# sourceMappingURL=style.css.map */
